.logo{
    box-shadow: 0px 1px 10px grey;
    &__restaurant{
        text-align: center;
        height: 64px;
        width: 100%;
        img{
            margin-top: 20px;
            width: 160px;
        }
    }
}
