@media screen and (min-width: 950px){
    .DesktopGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 100px;
        background-color: #353535;
    }
    .info{
        height: 100%;
        background-color: #353535;
        margin-bottom: 0;
        h1{
            color: white;
            font-size: 50px;
            padding-top: 125px;
        }
        p{
            color: white;
            font-size: 25px;
            margin-top: 30px;
        }
        .btn{
            box-shadow: none;
        }

    }
    .howto{
        height: 100%;
        margin-bottom: 0;
        grid-column-start: 2;
        width: 100%;
        background-color: #353535;
        text-align: center;
        h1{
            padding-top: 70px;
            font-family: 'Shrikhand', sans-serif;
            margin-left: 0;
            color: white;
            font-weight: 500;
            font-size: 30px;  
        }
        li{
            width: 100%;
        }
        ul{     
            width: 100%; 
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 0;
        }
        .cards{
            margin: auto;
            width: 50%;
            border-radius: 50px;
            padding-right: 40px;
            background: $gradient;
            color: white;
            p{
                text-align: center;
            }
            i{
                color: white;
            }
        }
        .number{
            background-color: white;
            color: $primary-color;
            margin-left: 22%;
            box-shadow: -1px 1px 5px $primary-color;
        }
    }
    .restaurants{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 40px 1fr;
        justify-content: center;
        height: 850px;
        position: relative;
        .DesktopText{
            position: absolute;
            top: 15px;
            left: 50%;
            color: $tertiary-color;
            text-shadow: 1px 1px 5px $primary-color;
            transform: translateX(-50%);
            margin: 0;
            h1{
                font-weight: lighter;
                font-size: 24px;
                margin: 0;
                padding-top: 20px;
            }
            ul{
                margin: 0;
                li{
                    background: #353535;
                    color: white;
                    border-radius: 50px;
                    height: 50px;
                    text-align: center;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    width: 200px;
                    h2{
                        align-self: center;
                        padding-top: 18px;
                    }
                }
            }
        }
        h1{
            text-align: center;
            font-size: 40px;
            font-family: 'Shrikhand', sans-serif;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: span 4;
        }
        &--cards{
            position: relative;
            border-radius: 25px 25px 25px 25px;
            margin: 20px;
            height: 100%;
            width: 90%;
            background-color: #353535;
            color: white;
            box-shadow: 3px 3px 5px $primary-color;
            &__text{
                margin: 0;
            }
            img{
                object-fit: cover;
                border-radius: 25px 25px 0px 0px;
                height: 730px;
                width: 100%;
            }
            svg{
                stroke: white;
            }
            .center{
                img{
                    height: 730px;
                    object-fit: cover;
                    object-position: initial;
                }
            }
        }
    }
    footer{
        padding-left: 0;
        height: 100px;
        h1{
            color: $primary-color;
            text-align: center;
        }
        ul{
            li{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 100%;
                a{
                    margin: auto;
                }
                a:hover{
                    color: $primary-color;
                }
            }
        }
    }

    /*Page des restaurants*/

    .start, .plate, .dessert{
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        background-color: #353535;
        p{
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: span 2;
            margin: 0;
            color: white;
        }
        .menu{
            width: 90%;
            align-items: center;
            box-shadow: 2px 2px 5px $primary-color;
            p{
                display: none;
            }
            h2{
                grid-row-start: 1;
                grid-row-end: span 2;
                margin-top: 0;
            }
        }
    }
    .btn--restaurants--background{
        background-color: #353535;
        .btn{
            box-shadow: none;
        }
    }
    .line{
        display: none;
    }
    .header{
        top: 250px;
        background-color: #353535;
        h1{
            color: $tertiary-color;
            text-shadow: 1px 1px 5px $secondary-color;
        }
        svg{
            stroke: white;
        }
    }
    .background--image{
        img{
            object-fit: cover;
            
        }
    }


}