@media screen and (min-width: 950px){
    .howto{
        width: 100%;
        ul{     
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-left: 40px;
            justify-content: center;
            margin-right: 40px;
        }
        li{
            position: relative;
            width: 90%;
        }
        .cards{
            width: 90%;
            padding-right: 40px;
            justify-self: center;
            flex-wrap: nowrap;
            p{
                text-align: center;
            }
        }
    }
    .restaurants{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 40px 1fr;
        justify-content: center;
        height: 850px;
        h1{
            text-align: center;
            font-size: 40px;
            font-family: 'Shrikhand', sans-serif;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: span 4;
        }
        &--cards{
            border-radius: 0px 0px 0px 0px;
            margin: 20px;
            height: 100%;
            width: 90%;
            &__text{
                margin: 0;
            }
            img{
                border-radius: 0px 0px 0px 0px;
                height: 90%;
                width: 100%;
            }
        }
    }
}