footer{
    background: #353535;
    padding-left: 25px;
    padding-bottom: 30px;
    height: 195px;
    color: white;
    ul{
        display: flex;
        li{
            a{
                width: fit-content;
                color: white;
                text-decoration: none;
                p{
                    width: fit-content;
                    margin-bottom: 10px;
                    margin-right: 0;
                    i{
                        margin-right: 10px;
                    }  
                }
            }
        }
    }
    h1{
        padding-top: 25px;
        margin-bottom: 30px;
        font-family: 'Shrikhand', sans-serif;
        font-size: 20px;
    }
}
