.restaurants{
    padding-top: 60px;
    padding-bottom: 65px;
    background: #f6f6f6;
    a{
        text-emphasis: none;
        text-decoration: none;
        color: inherit;
    }
    .DesktopText{
        display: none;
    }
    h1{
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bolder;
    }
    &--cards{
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        width: 90%;
        border-radius: 20px;
        position: relative;
        background: white;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px lightgrey;
        img{
            object-fit: fill;
            height: 175px;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }
        .center{
            img{
                object-fit: cover;
                object-position: center -150px;
            }
        }
        &__new{
            position: absolute;
            background: $tertiary-color;
            color: #39a98e;
            width: 80px;
            height: 30px;
            right: 10px;
            top: 15px;
            p{
                margin-top: 8px;
                text-align: center;
            }            
        }
        &__text{
            margin-top: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            height: 70px;
            h2{
                margin-top: 10px;
                font-weight: bolder;
                margin-left: 10px;
            }
            p{
                grid-row: span 1;
                grid-row-start: 2;
                margin-left: 10px;
                margin-top: 5px;
            }
            svg{
                overflow: visible;
                grid-row-start: 1;
                margin-top: 15px;
                justify-self: right;
                grid-row-end: span 3;
                padding-right: 20px;
                height: 20px;
                width: 20px;
                fill: none;
                stroke: black;
                stroke-width: 20px;
                .color1{
                    stop-color: $primary-color;
                }
                .color2{
                    stop-color: $secondary-color;
                }
            }
        }
    }
}