@media screen and (min-width: 600px) and (max-width: 950px){
    /*Page d'Acceuil*/
    .restaurants{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        h1{
            width: 100%;
        }
        &--cards{
            width: 40%;
        }
    }
    /*Page des Restaurants*/

    .background--image{
        img{
            object-fit: cover;
        }
    }
}