@media screen and (min-width: 600px) and (max-width: 950px){
    .restaurants{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        h1{
            width: 100%;
        }
        &--cards{
            width: 40%;
        }
    }
}