@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  text-align: center;
  height: 64px;
  width: 100%;
}
.logo img {
  margin-top: 20px;
  width: 160px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
}
.localisation p {
  margin-left: 15px;
}

.info {
  text-align: center;
  background-color: #f6f6f6;
  height: 285px;
  width: 100%;
  margin-bottom: 50px;
}
.info h1 {
  padding-top: 45px;
  margin-bottom: 15px;
  margin-left: 65px;
  margin-right: 65px;
  font-size: 25px;
  font-weight: bolder;
  flex-wrap: wrap;
}
.info p {
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 35px;
}

.howto {
  margin-bottom: 70px;
  width: 100%;
}
.howto h1 {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 35px;
}
.howto ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 40px;
}
.howto li {
  position: relative;
  width: 90%;
}
.howto .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 20px;
  text-align: center;
}
.howto .cards p {
  font-weight: bolder;
  width: 100%;
}
.howto .cards i {
  font-size: 20px;
  color: #7e7e7e;
  margin-left: 30px;
  margin-right: 25px;
}
.howto .number {
  width: 25px;
  background: #9356DC;
  position: absolute;
  left: -10px;
  top: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
}
.howto .number p {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

.logo {
  box-shadow: 0px 1px 10px grey;
}
.logo__restaurant {
  text-align: center;
  height: 64px;
  width: 100%;
}
.logo__restaurant img {
  margin-top: 20px;
  width: 160px;
}

header .logo__restaurant h1 {
  display: none;
}

.return {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}
.return a {
  text-decoration: none;
  color: inherit;
}

.background--image img {
  height: 250px;
  width: 100%;
  position: relative;
}

.image--center img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  border-radius: 35px 35px 0px 0px;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  top: 265px;
  position: absolute;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header h1 {
  font-family: "Shrikhand", sans-serif;
  padding-left: 20px;
  font-size: 28px;
  font-weight: lighter;
  width: 100%;
}
.header svg {
  margin-bottom: 5px;
  overflow: visible;
  grid-column-start: 2;
  justify-self: right;
  margin-right: 40px;
  height: 20px;
  width: 20px;
  fill: none;
  stroke: black;
  stroke-width: 20px;
}
.header svg .color1 {
  stop-color: #9356DC;
}
.header svg .color2 {
  stop-color: #FF79DA;
}
.header svg:hover {
  stroke: none;
  fill: url(#gradient-heart);
}

.start, .plate, .dessert {
  padding-top: 30px;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 10px;
}
.start p, .plate p, .dessert p {
  position: relative;
  margin-bottom: 5px;
  text-transform: uppercase;
  margin-top: 25px;
  padding-left: 20px;
}
.start .line, .plate .line, .dessert .line {
  margin-left: 20px;
  position: relative;
  height: 2.5px;
  background: #99E2D0;
  width: 40px;
  margin-bottom: 15px;
}

.plate, .dessert {
  padding-top: 20px;
}
.plate p, .dessert p {
  margin-top: 0px;
}

.menu {
  height: 65px;
  border-radius: 15px;
  background: white;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.menu h2 {
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu p {
  grid-column-start: 1;
  grid-row-start: 2;
  text-transform: none;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .slide {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
  opacity: 0;
  top: 0;
  background-color: #99E2D0;
}
.animation span i {
  color: white;
  background-color: #99E2D0;
  opacity: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 215px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  margin: 0px auto;
  box-shadow: 2px 2px 5px lightgray;
}

.btn--restaurants--background {
  height: 150px;
  width: 100%;
  background-color: #f6f6f6;
  display: grid;
  align-items: center;
}

.restaurants {
  padding-top: 60px;
  padding-bottom: 65px;
  background: #f6f6f6;
}
.restaurants a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  color: inherit;
}
.restaurants .DesktopText {
  display: none;
}
.restaurants h1 {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
}
.restaurants--cards {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 90%;
  border-radius: 20px;
  position: relative;
  background: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px lightgrey;
}
.restaurants--cards img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurants--cards .center img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -150px;
     object-position: center -150px;
}
.restaurants--cards__new {
  position: absolute;
  background: #99E2D0;
  color: #39a98e;
  width: 80px;
  height: 30px;
  right: 10px;
  top: 15px;
}
.restaurants--cards__new p {
  margin-top: 8px;
  text-align: center;
}
.restaurants--cards__text {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 70px;
}
.restaurants--cards__text h2 {
  margin-top: 10px;
  font-weight: bolder;
  margin-left: 10px;
}
.restaurants--cards__text p {
  grid-row: span 1;
  grid-row-start: 2;
  margin-left: 10px;
  margin-top: 5px;
}
.restaurants--cards__text svg {
  overflow: visible;
  grid-row-start: 1;
  margin-top: 15px;
  justify-self: right;
  grid-row-end: span 3;
  padding-right: 20px;
  height: 20px;
  width: 20px;
  fill: none;
  stroke: black;
  stroke-width: 20px;
}
.restaurants--cards__text svg .color1 {
  stop-color: #9356DC;
}
.restaurants--cards__text svg .color2 {
  stop-color: #FF79DA;
}

footer {
  background: #353535;
  padding-left: 25px;
  padding-bottom: 30px;
  height: 195px;
  color: white;
}
footer ul {
  display: flex;
}
footer ul li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-decoration: none;
}
footer ul li a p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  margin-right: 0;
}
footer ul li a p i {
  margin-right: 10px;
}
footer h1 {
  padding-top: 25px;
  margin-bottom: 30px;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}

/*Bouton étapes*/
.cards:hover {
  background: #f5edff;
}
.cards:hover i {
  color: #9356DC;
}

/*Coeur*/
.restaurants--cards__text svg:hover {
  stroke: none;
  fill: url(#gradient-heart);
}

/*Surbrillance des boutons*/
.btn:hover {
  filter: brightness(110%);
  box-shadow: 8px 8px 5px lightgray;
}

/*loading spinner*/
.fade {
  -webkit-animation: fadehome 3s ease-in-out;
  animation: fadehome 3s ease-in-out;
}

@-webkit-keyframes fadehome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadehome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 38%;
  -webkit-animation: end 3s ease;
  animation: end 3s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform: translate(-38%, -50%);
}

.lds-ellipsis div {
  position: fixed;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-animation: end 3s ease;
  animation: end 3s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s 5;
  animation: lds-ellipsis1 0.6s 5;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s 5;
  animation: lds-ellipsis2 0.6s 5;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s 5;
  animation: lds-ellipsis2 0.6s 5;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s 5;
  animation: lds-ellipsis3 0.6s 5;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@-webkit-keyframes end {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes end {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*Animation cards desktop*/
@media screen and (min-width: 950px) {
  .restaurants--cards {
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
    height: 100%;
    width: 90%;
    background-color: #353535;
    color: white;
    box-shadow: 3px 3px 5px #9356DC;
  }
  .restaurants--cards__text {
    margin: 0;
  }
  .restaurants--cards:hover .DesktopText {
    display: grid;
    -webkit-animation: hovercardsmenu 1s ease-in-out;
            animation: hovercardsmenu 1s ease-in-out;
  }
  .restaurants--cards:hover .restaurants--cards__new {
    display: none;
  }
  .restaurants--cards:hover img {
    -webkit-animation: hovercards 1s ease-in-out;
            animation: hovercards 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes hovercards {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  @keyframes hovercards {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  @-webkit-keyframes hovercardsmenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes hovercardsmenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /*Adaptation du loader*/
  .lds-ellipsis {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-animation: end 3s ease;
    animation: end 3s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/*Animation menu*/
.animation .fa-check-circle {
  color: white;
  transition: all 300ms ease-in-out;
  text-align: center;
}

.menu:hover .animation {
  opacity: 1;
  -webkit-animation: slide 300ms ease;
          animation: slide 300ms ease;
}

.menu:hover .fa-check-circle {
  transform: rotate(360deg);
  opacity: 1;
}

.menu:hover {
  cursor: pointer;
}
.menu:hover .slide span {
  margin-right: 75px;
  transition: margin-right 300ms ease;
}

@-webkit-keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 65px;
  }
}

@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 65px;
  }
}
/*Cursor*/
.restaurants__cards:hover {
  cursor: pointer;
}

/*Animation des menu*/
@-webkit-keyframes menufade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menufade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu {
  -webkit-animation: menufade 2s ease;
          animation: menufade 2s ease;
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  /*Page d'Acceuil*/
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants h1 {
    width: 100%;
  }
  .restaurants--cards {
    width: 40%;
  }
  /*Page des Restaurants*/
  .background--image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 950px) {
  .DesktopGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
    background-color: #353535;
  }
  .info {
    height: 100%;
    background-color: #353535;
    margin-bottom: 0;
  }
  .info h1 {
    color: white;
    font-size: 50px;
    padding-top: 125px;
  }
  .info p {
    color: white;
    font-size: 25px;
    margin-top: 30px;
  }
  .info .btn {
    box-shadow: none;
  }
  .howto {
    height: 100%;
    margin-bottom: 0;
    grid-column-start: 2;
    width: 100%;
    background-color: #353535;
    text-align: center;
  }
  .howto h1 {
    padding-top: 70px;
    font-family: "Shrikhand", sans-serif;
    margin-left: 0;
    color: white;
    font-weight: 500;
    font-size: 30px;
  }
  .howto li {
    width: 100%;
  }
  .howto ul {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
  }
  .howto .cards {
    margin: auto;
    width: 50%;
    border-radius: 50px;
    padding-right: 40px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
  }
  .howto .cards p {
    text-align: center;
  }
  .howto .cards i {
    color: white;
  }
  .howto .number {
    background-color: white;
    color: #9356DC;
    margin-left: 22%;
    box-shadow: -1px 1px 5px #9356DC;
  }
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    justify-content: center;
    height: 850px;
    position: relative;
  }
  .restaurants .DesktopText {
    position: absolute;
    top: 15px;
    left: 50%;
    color: #99E2D0;
    text-shadow: 1px 1px 5px #9356DC;
    transform: translateX(-50%);
    margin: 0;
  }
  .restaurants .DesktopText h1 {
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    padding-top: 20px;
  }
  .restaurants .DesktopText ul {
    margin: 0;
  }
  .restaurants .DesktopText ul li {
    background: #353535;
    color: white;
    border-radius: 50px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
  }
  .restaurants .DesktopText ul li h2 {
    align-self: center;
    padding-top: 18px;
  }
  .restaurants h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Shrikhand", sans-serif;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: span 4;
  }
  .restaurants--cards {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
    height: 100%;
    width: 90%;
    background-color: #353535;
    color: white;
    box-shadow: 3px 3px 5px #9356DC;
  }
  .restaurants--cards__text {
    margin: 0;
  }
  .restaurants--cards img {
    border-radius: 25px 25px 0px 0px;
    height: 90%;
    width: 100%;
  }
  .restaurants--cards svg {
    stroke: white;
  }
  footer {
    padding-left: 0;
    height: 100px;
  }
  footer h1 {
    color: #9356DC;
    text-align: center;
  }
  footer ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  footer ul li a {
    margin: auto;
  }
  footer ul li a:hover {
    color: #9356DC;
  }
  /*Page des restaurants*/
  .start, .plate, .dessert {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #353535;
  }
  .start p, .plate p, .dessert p {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    margin: 0;
    color: white;
  }
  .start .menu, .plate .menu, .dessert .menu {
    width: 90%;
    align-items: center;
    box-shadow: 2px 2px 5px #9356DC;
  }
  .start .menu p, .plate .menu p, .dessert .menu p {
    display: none;
  }
  .start .menu h2, .plate .menu h2, .dessert .menu h2 {
    grid-row-start: 1;
    grid-row-end: span 2;
    margin-top: 0;
  }
  .btn--restaurants--background {
    background-color: #353535;
  }
  .btn--restaurants--background .btn {
    box-shadow: none;
  }
  .line {
    display: none;
  }
  .header {
    top: 250px;
    background-color: #353535;
  }
  .header h1 {
    color: #99E2D0;
    text-shadow: 1px 1px 5px #FF79DA;
  }
  .header svg {
    stroke: white;
  }
  .background--image img {
    -o-object-fit: cover;
       object-fit: cover;
    position: center;
  }
}/*# sourceMappingURL=main.css.map */